
.header {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.header > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header input {
  padding: .3rem;
  border: none;
  border-radius: 8px;
  text-align: center;
  width: 36vw;
}

.link {
  font-size: 18pt;
  padding: 20px;
  text-decoration: none;
  color: #fff;
}